<h3>Planilla de Detalle</h3>

<!-- 游댳 Contenedor principal con la clase correcta -->
<div class="query_form_with_buttons">

  <!-- 游댳 Formulario de filtros -->
  <form id="query_form" class="query-form" action="<%= activity_summary_index_path %>" accept-charset="UTF-8" method="get">

    <!-- 游댳 Secci칩n de filtros con acorde칩n -->
    <fieldset class="collapsible filters">
      <legend onclick="toggleFieldset(this);" class="icon icon-expanded">
        <svg class="s18 icon-svg" aria-hidden="true">
          <use href="/assets/icons.svg#icon--angle-down"></use>
        </svg>
        <%= l(:label_filter_plural) %>
      </legend>
      <div id="query_form_content">
        <%= render partial: 'queries/filters', locals: { query: @query } %>
      </div>
    </fieldset>

    <!-- 游댳 Opciones adicionales (colapsado por defecto) -->
    <fieldset id="options" class="collapsible collapsed">
      <legend onclick="toggleFieldset(this);" class="icon icon-collapsed">
        <svg class="s18 icon-svg" aria-hidden="true">
          <use href="/assets/icons.svg#icon--angle-right"></use>
        </svg>
        <%= l(:label_options) %>
      </legend>
      <div class="hidden">
        <!-- Aqu칤 puedes agregar m치s opciones si Redmine lo requiere -->
      </div>
    </fieldset>

    <!-- 游댳 Botones de acci칩n alineados con el dise침o de Redmine -->
    <p class="buttons">
      <a href="#" onclick="$('#query_form').submit(); return false;" class="icon icon-checked">
        <svg class="s18 icon-svg" aria-hidden="true">
          <use href="/assets/icons.svg#icon--checked"></use>
        </svg>
        <span class="icon-label"><%= l(:button_apply) %></span>
      </a>

      <a class="icon icon-reload" href="<%= activity_summary_index_path(set_filter: 1, sort: '') %>">
        <svg class="s18 icon-svg" aria-hidden="true">
          <use href="/assets/icons.svg#icon--reload"></use>
        </svg>
        <span class="icon-label"><%= l(:button_clear) %></span>
      </a>
    </p>

  </form>
</div>

<!-- 游댳 Separador -->
<div class="separator"></div>

<!-- 游댳 Contenedor para la tabla de resultados -->
<div id="planilla-container"></div>

<!-- 游댳 Incluir los estilos de Redmine -->
<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'responsive' %>
<% end %>
