<h3>Planilla de Detalle</h3>

<div class="query_form_with_buttons">
  <form id="query_form" class="query-form" action="<%= activity_summary_index_path %>" accept-charset="UTF-8" method="get">
    
    <!-- 🔹 Sección de filtros de Redmine -->
    <fieldset class="collapsible filters">
      <legend onclick="toggleFieldset(this);" class="icon icon-expanded">
        <svg class="s18 icon-svg" aria-hidden="true">
          <use href="<%= asset_path('icons.svg') %>#icon--angle-down"></use>
        </svg>
        <%= l(:label_filter_plural) %>
      </legend>
      <div id="query_form_content">
        <%= render partial: 'queries/filters', locals: { query: @query } %>
      </div>
    </fieldset>

    <p class="buttons">
      <a href="#" onclick="$('#query_form').submit(); return false;" class="icon icon-checked">
        <svg class="s18 icon-svg" aria-hidden="true">
          <use href="<%= asset_path('icons.svg') %>#icon--checked"></use>
        </svg>
        <span class="icon-label"><%= l(:button_apply) %></span>
      </a>

      <a class="icon icon-reload" href="<%= activity_summary_index_path(set_filter: 1, sort: '') %>">
        <svg class="s18 icon-svg" aria-hidden="true">
          <use href="<%= asset_path('icons.svg') %>#icon--reload"></use>
        </svg>
        <span class="icon-label"><%= l(:button_clear) %></span>
      </a>
    </p>
  </form>
</div>

<!-- 🔹 Separador -->
<div class="separator"></div>

<!-- 🔹 Contenedor para la tabla de resultados -->
<div id="planilla-container"></div>

<!-- 🔹 Incluir los estilos de Redmine -->
<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'responsive' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'responsive' %>
  <%= javascript_include_tag asset_path('i18n/datepicker-en-US.js') %>

<% end %>

